* {
  font-family: 'Segoe UI';
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  outline: none;
  border: none;
  text-decoration: none;
  text-transform: capitalize;
  transition: 0.2s linear;
}
.header {
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  padding: 10px 15.736px 15px 14.429px;
  z-index: 100;
  background-color: #D5DBE2;
}

.header .navbar {
  display: flex;
  align-items: center;
  justify-content: space-evenly;
}

.header .navbar a {
  font-size: 1rem;
  color: #000000;
  /* color: var(--white); */
  padding: 0 2rem;
  letter-spacing: 0.3rem;
  font-weight: 700;
  text-transform: uppercase;
}

.header .menu {
  font-size: 2.5rem;
  color: #D5DBE2;
  /* color: var(--white); */
  cursor: pointer;
  text-align: left;
  display: none;
}

.header.active {
  background-color: #D5DBE2;
  padding: 3rem 9%;
}

.header.active .navbar a {
  color: var(--dark-bg);
}

.header.active .navbar a:hover {
  color: var(--yellow);
}

.header.active .menu {
  color: white
}

/**/
body {
  background: linear-gradient(180deg, #57C601 0%, #320049 100%), linear-gradient(121.28deg, #007762 0%, #5200FF 100%), linear-gradient(341.1deg, #FF0000 7.52%, #1700A4 77.98%), radial-gradient(49.82% 80.51% at 49.82% 50%, #820097 0%, #FF3D00 100%), radial-gradient(50% 72.12% at 50% 50%, #EB00FF 0%, #0B0037 100%);
    background-blend-mode: color-dodge, overlay, difference, difference, normal;
  height: 100vh;
  overflow: hidden;
}

.gallery {
  padding: 20px;
  display: flex;
  height: 69%;
}

.left,
.right {
  display: flex;
  align-items: center;
  position: relative;
  overflow: hidden;
  width: 50%;
}

.inner {
  position: relative;
  width: 100%;
  display: flex;
  align-items: center;
  perspective: 500px;
  transform-style: preserve-3d;
}

.item {
  position: absolute;
  width: 20rem;
  height: 25rem;
  transition: transform 300ms cubic-bezier(0, 0.55, 0.45, 1);
}

.left .inner {
  perspective-origin: right center;
}

.right .inner {
  perspective-origin: left center;
}

.left .item {
  right: -10rem;
}

.right .item {
  left: -10rem;
}

.left .item:nth-child(1) {
  transform: translate3d(-10rem, 0, -4rem);
}

.left .item:nth-child(2) {
  transform: translate3d(-20rem, 0, -8rem);
}

.left .item:nth-child(3) {
  transform: translate3d(-30rem, 0, -12rem);
}

.left .item:nth-child(4) {
  transform: translate3d(-40rem, 0, -16rem);
}

.left .item:nth-child(5) {
  transform: translate3d(-50rem, 0, -20rem);
}

.left .item:nth-child(6) {
  transform: translate3d(10rem, 0, -4rem);
}

.right .item:nth-child(1) {
  transform: translate3d(10rem, 0, -4rem);
}

.right .item:nth-child(2) {
  transform: translate3d(20rem, 0, -8rem);
}

.right .item:nth-child(3) {
  transform: translate3d(30rem, 0, -12rem);
}

.right .item:nth-child(4) {
  transform: translate3d(40rem, 0, -16rem);
}

.right .item:nth-child(5) {
  transform: translate3d(50rem, 0, -20rem);
}

.right .item:nth-child(6) {
  transform: translate3d(-10rem, 0, -4rem);
}
